---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
  <section class="content-inner">

    <h1>About</h1>

    <div class="about-block">
      <div class="about-text">
        <h2>Faculty of Economics and Business Administration</h2>

        <p>
          CVAMO is a research lab comprising 10 professors and approximately 50 pre- and postdoctoral researchers from various departments and research groups associated with the Business Engineering program within the Faculty of Economics and Business Administration at Ghent University.
        </p>

        <p>
          The objective of CVAMO is to study engineered systems from a combined business/managerial and technological perspective, and to translate this research into implementable solutions that companies can use to become more sustainable, high-performing, and competitive.
        </p>

       </div>
        <div class="about-logo">
          <img src="/images/feb_logo.png" alt="Faculty of Economics and Business Administration logo" />
        </div>
      </div>

    <div class="about-block">
      <div class="about-text">
        <h2>Machineries &amp; Factories (M&amp;F)</h2>

        <p>
          CVAMO is supported by Machineries &amp; Factories (M&amp;F), a Ghent University Industrial Research Fund business development center that provides a research platform for creating industrial impact for over 40 professors and approximately 300 researchers from the Faculty of Engineering and Architecture and the Faculty of Economics and Business Administration. 
        </p>

      </div>
      <div class="about-logo">
        <img src="/images/mf_logo.png" alt="Machineries & Factories logo" />
      </div>
    </div>

    <div class="about-block">
      <div class="about-text">
        <h2>Flanders Make</h2>

        <p>
          CVAMO is recognized as a Core Lab within Flanders Make, the strategic research centre for industrial innovation in Flanders, which brings together research labs from all five Flemish universities.
        </p>

      </div>
      <div class="about-logo">
        <img src="/images/fm_logo_new.png" alt="Flanders Make logo" />
      </div>
    </div>    
    
  </section>
</Layout>
