---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>
    <section class="content-inner">
      <h1>Contact</h1>
    
      <p>
        Are you interested in collaborating with CVAMO?<br />
        Do you have a question about our research, expertise, or activities?<br />
        Would you like to explore opportunities for academic or industry collaboration?
      </p>
    
      <p>
        Please feel free to contact us. 
      </p>
    
      <h2>Contact for collaboration</h2>
      <p>
        Our business developer will be happy to discuss possible collaborations or connect you with the right person.<br />
        dr. Nicole Berx: <a href="mailto:nicole.berx@ugent.be">nicole.berx@ugent.be</a>
      </p>
    
      <h2>Visiting address</h2>
      <p>
        CVAMO<br />
        Faculty of Economics and Business Administration<br />
        Ghent University<br />
        Tweekerkenstraat 2<br />
        9000 Ghent<br />
        Belgium
      </p>
      <p><iframe height="450" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2508.5598339063017!2d3.7252209!3d51.0427499!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDAyJzM3LjAiTiAzwrA0Myc0MC41IkU!5e0!3m2!1snl!2sbe!4v1603810633045!5m2!1snl!2sbe" style="border: 0;" width="600"></iframe></p>
    </section>
</Layout>
