---
import Layout from '../layouts/BaseLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="home-landing">
    <div class="home-panel">
      <div class="home-columns">
        <div class="home-column">
          <h2>About us</h2>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="/research">Research</a></li>
          </ul>
        </div>

        <div class="home-column">
          <h2>Collaboration</h2>
          <ul>
            <li><a href="/for-companies">For Companies</a></li>
          </ul>
        </div>

        <div class="home-column">
          <h2>Contact</h2>
          <p>
            CVAMO<br />
            Faculty of Economics and Business Administration<br />
            Ghent University
          </p>
          <p>
            Tweekerkenstraat 2<br />
            9000 Ghent
          </p>
          <p>
            <ul>
              <li><a href="/contact">Contact details</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>

    <div class="home-image">
      <img src="/images/faculty.jpeg" alt="Faculty of Economics and Business Administration" />
    </div>
  </section>
</Layout>
